
@import "reset.css";
@import "includes/header.css";
@import "components/jumboScreen.css";
@import "components/cuisineDisplay.css";
@import "components/portrayal.css";
@import "components/mapSection.css";
@import "components/beerSection.css";
@import "components/reviewSection.css";
@import "components/takeItHome.css";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* === THIS IS TO MAKE BACKGROUND BLACK AND SPAN THE WIDTH OF THE SCREEN === */
.blackContainer{
    background: black;
}
/* ======================================================================= */


/* === THIS IS THE MAIN CONTAINER KEEPING INFORMATION LESS THAN 1200PX === */
.marginContainer{
    max-width: 1200px;
    margin: auto;
    position: relative;
}
/* ======================================================================= */


/* === THIS IS TO MAKE BACKGROUND WHITE AND SPAN THE WIDTH OF THE SCREEN === */
.whiteContainer{
    width: 100vw;
    background: white;
    margin: 0 auto;
    overflow: hidden;
}
/* ======================================================================= */
