
@import "reset.css";
@import "includes/header.css";
@import "components/jumboScreen.css";
@import "components/cuisineDisplay.css";
@import "components/portrayal.css";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.outerContainer{
    background: black;
}
.marginContainer{
    max-width: 1200px;
    margin: auto;
    position: relative;
}
.cuisineContainer{
    width: 100vw;
    background: white;
    margin: 0 auto;
}
