
@import "reset.css";
/* =============== MAIN PAGE ================ */
@import "includes/mainHeader.css";
@import "components/mainPage/jumboScreen.css";
@import "components/mainPage/cuisineDisplay.css";
@import "components/mainPage/portrayal.css";
@import "components/mainPage/mapSection.css";
@import "components/mainPage/beerSection.css";
@import "components/mainPage/reviewSection.css";
@import "components/mainPage/takeItHome.css";
/* =============== PICKUP/TAKEOUT ================ */
@import "components/deliveryTakeout/orderJumbo.css";
@import "components/deliveryTakeout/orderOptions.css";
@import "components/deliveryTakeout/pickupDelivery/delivery.css";
@import "components/deliveryTakeout/pickupDelivery/pickup.css";
/* ================== MENU ==================== */
@import "./components/menu/menu.css";
/* =============== FOOTER ================ */
@import "includes/footer.css";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

/* === THIS IS TO MAKE BACKGROUND BLACK AND SPAN THE WIDTH OF THE SCREEN === */
.blackContainer{
    width: 100%;
    background: black;
    margin: 0 auto;

}
/* ======================================================================= */


/* === THIS IS THE MAIN CONTAINER KEEPING INFORMATION LESS THAN 1200PX === */
.marginContainer{
    max-width: 1200px;
    margin: auto;
    position: relative;
}
/* ======================================================================= */


/* === THIS IS TO MAKE BACKGROUND WHITE AND SPAN THE WIDTH OF THE SCREEN === */
.whiteContainer{
    width: 100%;
    background: white;
    margin: 0 auto;
    overflow: hidden;
}
/* ======================================================================= */



/* ================================= MEDIA QUERIES!!!! ====================================== */
/* ============================ IPAD PRO =========================== */
@media only screen and (max-width: 1050px) {
    /* === THIS IS THE MAIN CONTAINER KEEPING INFORMATION LESS THAN 950PX === */
    .marginContainer{
        max-width: 950px;
    }
    /* ======================================================================= */
}


/* ============================== IPAD ============================= */
@media only screen and (max-width: 800px){
    /* === THIS IS THE MAIN CONTAINER KEEPING INFORMATION LESS THAN 750PX === */
    .marginContainer{
        max-width: 750px;
    }
    /* ======================================================================= */
}


/* ============================ IPHONE 6/7/8 PLUS =========================== */
@media only screen and (max-width: 450PX) {
    .marginContainer{
        max-width: 390px;
    }
}