.whiteContainer .marginContainer #beerSection {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    background: white;
    text-align: left;
}


/* ==================== LEFT SIDE =================== */
.whiteContainer .marginContainer #beerSection .beerImg{
    width: 100%;
    position: relative;
}
.whiteContainer .marginContainer #beerSection .beerImg img{
    position: absolute;
    height: 100%;
    right: 0;
    /* max-width: 100%; */
    /* background-size: cover; */
}


/* ==================== RIGHT SIDE =================== */
.whiteContainer .marginContainer #beerSection .beerInfo{
    display: flex;
    flex-flow: column;
    width: 100%;
    padding: 3.60rem 0;
    margin: 0 4rem;
}
.whiteContainer .marginContainer #beerSection .beerInfo h1{
    font-size: 2.2rem;
    letter-spacing: 1px;
    text-transform: capitalize;
    text-align: center;
    margin: 1rem 0;
    font-weight: 500;
}
.whiteContainer .marginContainer #beerSection .beerInfo p{
    font-size: 1.25rem;
    letter-spacing: 1px;
    line-height: 1.25;
    text-align: center;
    margin: 1rem 6rem;
}
.whiteContainer .marginContainer #beerSection .beerInfo .beerBtn{
    text-align: center;
    color: white;
    background: black;
    padding: 1rem 0;
    width: 10rem;
    margin: 0 auto;
    transition: all .3s ease-in-out;
}
.whiteContainer .marginContainer #beerSection .beerInfo .beerBtn:hover{
    cursor: pointer;
    background:  rgb(240,129,26);
    color: white;
}

/* ================================ MEDIA QUERIES!!!! =============================== */
/* ============================ IPAD PRO =========================== */
@media only screen and (max-width: 1050px) {
    /* ==================== RIGHT SIDE =================== */
    .whiteContainer .marginContainer #beerSection .beerInfo{
        padding: 1.60rem 0;
        margin: 0;
    }
    .whiteContainer .marginContainer #beerSection .beerInfo h1{
        font-size: 1.5rem;
    }
    .whiteContainer .marginContainer #beerSection .beerInfo p{
        font-size: 1rem;
    }
}

/* ============================ IPAD =========================== */
@media only screen and (max-width: 800px) {
    .whiteContainer .marginContainer #beerSection .beerInfo h1{
        font-weight: bold;
    }
    .whiteContainer .marginContainer #beerSection .beerInfo p{
        font-size: 1rem;
        margin: 1rem 4rem;
    }
}

/* ============================ IPHONE 6/7/8 PLUS =========================== */
@media only screen and (max-width: 450PX) {
    .whiteContainer .marginContainer #beerSection {
        flex-flow: column;
        justify-content: center;
    }
    /* ==================== LEFT SIDE =================== */
    .whiteContainer .marginContainer #beerSection .beerImg{
        height: 50vh;
    }
    .whiteContainer .marginContainer #beerSection .beerImg img{
        right: -25vw;
    }
    /* ==================== RIGHT SIDE =================== */
    .whiteContainer .marginContainer #beerSection .beerInfo{
        padding: 1.5rem 0 2.5rem 0;
    }
}