.portrayalContainer{
    position: relative;
    width: 100vw;
    height: 75vh;
}
.portrayalContainer .portrayalSect{
    position: absolute;
    background: url("https://pbs.twimg.com/media/DoWQYoVWsAEMGf9.jpg") center bottom no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}