.portrayalContainer{
    position: relative;
    width: 100vw;
    height: 75vh;
}
.portrayalContainer .portrayalSect{
    position: absolute;
    background: url("https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fblogs-images.forbes.com%2Fgarystern%2Ffiles%2F2019%2F04%2FLD.jpg") center bottom no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}