.blackContainer .marginContainer #footContainer{
    display: flex;
    flex-flow: column;
    text-align: left;
}
.blackContainer .marginContainer #footContainer .companyInfoContainer{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    color: white;
    padding: 3rem 0;
    margin: 0 12rem;
}
.blackContainer .marginContainer #footContainer .companyInfoContainer table{
    letter-spacing: 1px;
}
.blackContainer .marginContainer #footContainer .companyInfoContainer table tr th{
    font-size: 2rem;
    padding-bottom: 1rem;
    text-decoration: underline;
}
.blackContainer .marginContainer #footContainer .companyInfoContainer table tr td{
    font-size: 1rem;
    padding-bottom: .5rem;
    font-size: .9rem;
}
.blackContainer .marginContainer #footContainer .companyInfoContainer table tr td a{
    text-decoration: none;
    color: white;
}

.blackContainer .marginContainer #footContainer .signOff{
    font-size: .8rem;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: .5rem;
    border-top: 1px solid white;
}
.blackContainer .marginContainer #footContainer .social{
    font-size: 2rem;
}
.blackContainer .marginContainer #footContainer .social a{
    color: white;
    text-decoration: none;
}
.blackContainer .marginContainer #footContainer .social .fab{
    padding: 0 .5rem;
}


/* ================================ MEDIA QUERIES!!!! =============================== */
/* ============================ IPAD PRO =========================== */
@media only screen and (max-width: 1050px) {
    .blackContainer .marginContainer #footContainer .companyInfoContainer{
        margin: 0 4rem;
    }
}

/* ============================ IPAD =========================== */
@media only screen and (max-width: 800px) {
    .blackContainer .marginContainer #footContainer .companyInfoContainer{
        margin: 0 1rem;
    }
}