 .marginContainer #header{
    background: black;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    font-size: .8rem;
    letter-spacing: 1px;
    padding: .5rem 0;
    text-transform: capitalize;
    position: absolute;
    width: 100%;
    z-index: 100;
}
 .marginContainer #header .logoMenu{
    background: black;
    color: white;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}
 .marginContainer #header .logoMenu li{
    padding: 1rem;
    display: flex;
    align-items: center;
}
 .marginContainer #header .logoMenu li:hover{
    cursor: pointer;
}
 .marginContainer #header .logoMenu li:nth-child(1){
    font-size: 1.5rem;
}
 .marginContainer #header .orderMenu{
    background: black;
    color: white;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
}
 .marginContainer #header .orderMenu li{
    margin: .5rem .25rem;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    border: 1px white solid;
    border-radius: 50px;
    /* font-size: 1rem; */
}
 .marginContainer #header .orderMenu li:hover{
    cursor: pointer;
    background:  rgb(240,129,26);
    color: white;
    transition: all .3s ease-in-out;
}