.whiteContainer .marginContainer #mapSection{
    text-align: left;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 0;
}

/* =================== LEFT SIDE FLEXBOX ======================== */
.whiteContainer .marginContainer #mapSection .locationInfo{
    width: 100%;
}
.whiteContainer .marginContainer #mapSection .locationInfo h1{
    font-size: 2.2rem;
    margin: 1rem 0;
    font-weight: 500;
    text-transform: capitalize;
    margin: 1rem 6rem;
}
.whiteContainer .marginContainer #mapSection .locationInfo p{
   font-size: 1.25rem;
   letter-spacing: 1px;
   line-height: 1.25;
   text-align: left;
   margin: 1rem 6rem;
}
.whiteContainer .marginContainer #mapSection .locationInfo .readMoreBtn{
    text-align: center;
    color: white;
    background: black;
    padding: 1rem 0;
    width: 10rem;
    margin: 1rem 6rem;
    transition: all .3s ease-in-out;
}
.whiteContainer .marginContainer #mapSection .locationInfo .readMoreBtn:hover{
    cursor: pointer;
    background: gray;
    color: white;
}

/* =================== RIGHT SIDE FLEXBOX ======================== */
.whiteContainer .marginContainer #mapSection .mapArea{
    width: 100%;
}
/* .whiteContainer .marginContainer #mapSection .mapArea .mapContainer{
    width: 504px;
    height: 500px;
    margin: 0 auto;

} */

/* ================================ MEDIA QUERIES!!!! =============================== */
/* ============================ IPAD PRO =========================== */
@media only screen and (max-width: 1050px) {
    .whiteContainer .marginContainer #mapSection .locationInfo h1{
        font-weight: bold;
        font-size: 1.5rem;
        margin: 1rem 4rem;
    }
    .whiteContainer .marginContainer #mapSection .locationInfo p{
        font-size: 1rem;
       margin: 1rem 4rem;
    }
}


/* ============================ IPAD =========================== */
@media only screen and (max-width: 800px) {
    /* =================== LEFT SIDE FLEXBOX ======================== */
    .whiteContainer .marginContainer #mapSection .locationInfo h1{
        margin: 1rem 1.5rem;
    }
    .whiteContainer .marginContainer #mapSection .locationInfo p{
       margin: 1rem 1.5rem;
    }
    /* =================== RIGHT SIDE FLEXBOX ======================== */
    .whiteContainer .marginContainer #mapSection .mapArea .mapContainer{
        display: flex;
        align-items: center;
    }
    .whiteContainer .marginContainer #mapSection .mapArea .mapContainer .mapouter .gmap_canvas iframe{
        width: 354px !important;
        height: 350px !important;
    }
}


/* ============================ IPHONE 6/7/8 PLUS =========================== */
@media only screen and (max-width: 450PX) {
    .whiteContainer .marginContainer #mapSection{
        flex-flow: column;
    }
    /* =================== LEFT SIDE FLEXBOX ======================== */
    .whiteContainer .marginContainer #mapSection .locationInfo{
        display: flex;
        flex-flow: column;
        align-items: center;
        padding-bottom: 3rem;
    }
    /* =================== RIGHT SIDE FLEXBOX ======================== */
    .whiteContainer .marginContainer #mapSection .mapArea .mapContainer{
        display: flex;
        justify-content: center;
    }
}