.portrayalContainer{
    position: relative;

    /* ================CAUSING HORIZONTAL OVERFLOW============== */
    /* width: 100vw; */
    /* ================CAUSING HORIZONTAL OVERFLOW============== */

    height: 75vh;
}
.portrayalContainer .portrayalSect{
    width: 100%;
    height: 100%;
}

/* ================================ MEDIA QUERIES!!!! =============================== */
/* ============================ IPAD PRO =========================== */
@media only screen and (max-width: 1050px) {
    .portrayalContainer{
        height: 50vh;
    }
}